<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph visualizer | Login</title>
    <link rel="stylesheet" href="../stylesheets/auth_style.css">
</head>
<body>
    <div id="card">
         <h1>Login</h1>
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Enter e-mail">
            <input type="password" name="password" placeholder="Enter password">
            <button type="submit">submit</button>
            <label>Do not have an account ? <a href="/signup">signup</a></label>
        </form>
     </div>
</body>
</html>