<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph visualizer | Signup</title>
    <link rel="stylesheet" href="../stylesheets/auth_style.css">
</head>
<body>
    <div id="card">
        <h1>Sign up</h1>
       <form action="/signup" method="post">
           <input type="text" name="name" placeholder="Enter name">
           <input type="email" name="email" placeholder="Enter e-mail">
           <input type="password" name="password" placeholder="Enter password">
           <button type="submit">submit</button>
       </form>
    </div>
</body>
</html>